html{
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
	margin:0px;
	overflow: hidden;
}
header{
	width: 100%;
	position: fixed;
	top:0px;
	height:50px;
}
.clear-float:after{
    display:block;
    clear:both;
    content:'';
    visibility:hidden;
    height:0;
}

.nav-left{
	position: fixed;
	top:0px;
	margin-top: 50px;
	width:220px;
	height:100%;
	background-color: #EFEFEF;
}
.index-content{
	width:100%;
	height:100%;
	padding-top: 50px;
}
.index-ms-view{
	padding-left: 220px;
	width:100%;
	height:100%;
	overflow: hidden;
}
.index-ms-view>div{
	width:100%;
	height:100%;
	overflow: auto;
}